<nav class="h-20 border-b-2 border-bgGolorGrayLight flex justify-between md:justify-around">

    <a href="{{'/'}}" class="w-2/6 md:w-3/12 h-20 ml-4 md:ml-0 flex items-center justify-center">
        <img src="{{ asset('/images/logo/logo-progica.png') }} " alt="Logo Progica" class="max-h-16">
    </a>

    <div class="w-5/12 hidden lg:flex items-center">
        <p class="font-light text-lg">Échappez à la routine, louez un <span class='font-bold text-txtBlueDark'>gîte</span> de rêve !</p>
    </div>
    
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    
        <div class="flex w-2/6 md:w-6/12 items-center justify-end mr-8">
            <div class="w-auto h-16 px-2 py-0 md:mr-5 md:border-4 rounded-full border-borderColorLight flex items-center">
                <div class="relative -left-3 h-16 w-16 flex">
                    <a href="{{ '/profile' }}" class="flex">
                        <img src=" {{ asset(app.user.avatar) }} " alt="Avatar de l'utilisateur" class=" w-fit object-cover border-4 border-borderColorLight rounded-full">
                    </a>
                </div>
                <div class="hidden md:inline md:relative pr-3">
                    <a href="{{'/profile'}}" class="">
                        <p class="font-bold text-txtBlueDark">{{app.user.firstname}} {{ app.user.lastname }}</p>
                        <p class='text-sm font-semibold text-txtGray'>Propriétaire</p> 
                    </a>                      
                </div>
            </div>
            <a href="{{ path('logout') }}">
                <i class="fa-solid fa-arrow-right-from-bracket text-2xl text-txtBlueDark cursor-pointer duration-500 hover:text-txtBlueLight"></i>
            </a>
        </div>
    
    {% else %}

        <div class="w-2/6 flex lg:hidden justify-center items-center">
            <i class="fa-solid fa-bars text-3xl cursor-pointer hover:text-txtBlueDark duration-700"></i>
        </div>
        
        <div class="hidden flex items-center justify-center absolute z-50 lg:relative h-20 w-full lg:w-2/6 top-20 lg:top-0 lg:flex bg-bgGolorGrayLight lg:bg-transparent shadow-shadowFilters menuBurger ">
            <a href="{{ path('signup')}}" class="btn btn-primary mr-4">Inscription</a>
            <a href="{{ path('login' )}}" class="btn btn-secondary mr-4">Connexion</a>
            </div>

    {% endif %}
    


    
</nav>