{% form_theme formSearch 'tailwind_2_layout.html.twig' %}

<div class="h-20 flex justify-center items-center searchbar">
    <div class="searchbar-txt">
        <p>Je recherche un gîte</p>
    </div>
    <div class="flex justify-center items-center h-full ml-6 searchbar-ctn">
        {{ form_start(formSearch) }}
            <div class="flex items-center">
                {{ form_row(formSearch.region, {
                    widget_class: 'rounded-3xl w-auto border-none focus:ring-transparent mr-4 criteria'
                })}}
                {{ form_row(formSearch.department, {
                    widget_class: 'rounded-3xl w-auto border-none focus:ring-transparent mr-4 criteria'
                })}}
                {{ form_row(formSearch.town, {
                    widget_class: 'rounded-3xl w-auto border-none focus:ring-transparent mr-4 criteria'
                })}}

                {% if app.request.attributes.get('_route') == 'home' %}
                    <span class='mr-4'>du </span>

                    {{ form_row(formSearch.start, {
                        widget_class: 'rounded-lg searchbar-ctn-date criteria'
                    }) }}

                    <span class='mx-4'> au </span>
                    
                    {{ form_row(formSearch.end, {
                        widget_class: 'rounded-lg mr-4 searchbar-ctn-date criteria'
                    }) }}

                {% else %}
                    <span class='mr-4 hidden'>du </span>

                    {{ form_row(formSearch.start, {
                        widget_class: 'rounded-lg searchbar-ctn-date criteria hidden'
                    }) }}

                    <span class='mx-4 hidden'> au </span>
                    
                    {{ form_row(formSearch.end, {
                        widget_class: 'rounded-lg mr-4 searchbar-ctn-date criteria hidden'
                    }) }}
         
                {% endif %}
                           
                <button class="font-bold btn btn-primary btn-filter">+ de filtres</button>
                
                {% if app.request.attributes.get('_route') == 'gite_show' %}
                    
                    <button type="submit" class="font-bold btn btn-secondary ml-4">Rechercher</button>

                {% endif %}
                
            </div>
    </div>
</div>

{% include "_partials/_filters.html.twig" %}

{{ form_end(formSearch) }}

