<form action="{{ path('login') }}" method='post' class='flex flex-col w-full'>

    <label for="email" class="font-semibold">Votre email : </label>
    <input type="text" name="_username" id="email" value="{{ username }}" class="mt-2 mb-4 rounded w-full" placeholder="Saisir votre email">

    <label for="password" class="font-semibold">Votre mot de passe : </label>
    <input type="password" name="_password" id="password" class="mt-2 mb-4 rounded w-full" placeholder="Saisir votre mot de passe">

    <label for="" class="mb-4 flex items-center">
        <input type="checkbox" name="_remember_me" id="" class="mr-2">
         Se souvenir de moi ?
    </label>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="flex items-center flex-col w-full">
        <div class="text-center w-full mr-2">
            <button class="btn btn-primary w-full">Se connecter</button>
        </div>
        <small class="mt-2">
            <a href="{{ path('signup') }}">Pas encore de <span class="font-semibold hover:text-txtBlueDark">compte</span> ?, créez en un !</a>
        </small>
    </div>
</form>

{% if error %}
    <div class=" bg-red-400 text-red-900 font-semibold rounded mt-4 py-1 px-2"> {{ error.messageKey |trans(error.messageData, 'security')}} </div>
{% endif %}