{{ form_start(signupForm, {'attr': {'class': 'w-4/5 '}}) }}

    {% for field in signupForm %}
        {% if field.vars.name not in ['password', 'avatarFile'] %}
            {{ form_row(field, {
                row_class: 'flex flex-col mb-4 font-semibold',
                widget_class: 'rounded'
            }) }}
        {% endif %}
    {% endfor %}

    {% for field in [signupForm.password.first, signupForm.password.second] %}
        {{ form_row(field, {
            row_class: 'flex flex-col mb-4 font-semibold',
            widget_class: 'rounded'
        }) }}
    {% endfor %}

    {{ form_row(signupForm.avatarFile, {
        label_class: 'mb-1 font-semibold',
        row_class: 'flex flex-col mb-4',
        widget_class: 'rounded'
    }) }}

    <div class="flex items-center flex-col">
        <div class="text-center w-1/2 mr-2">
            <button class="btn btn-primary w-full">S'inscrire</button>
        </div>
        <small class="mt-2">
            <a href="{{ path('login') }}">Avez-vous déjà <span class="font-semibold hover:text-txtBlueDark">un compte</span> ?, connectez-vous !</a>
        </small>
    </div>

{{ form_end(signupForm) }}