{% extends 'base.html.twig' %}

{% block title %}Progica - Echappez à la routine, louez un gîte de rêve{% endblock %}

{% block body %}
<div class="flex giteShow mt-10">
    
    <div class="w-10/12 mx-3 giteShow-card">
        <h1 class="text-center text-3xl mb-6 giteShow-card-title"> {{ shelter.name }} </h1>
        <div class="container w-4/5 mx-auto py-2 giteShow-card-gallery">
            <img src="{{ shelter.image }}" alt="">
        </div>
        <div class="giteShow-card-desc">
            <p>{{ shelter.surface}} m²</p>
            <p>nombre de chambres{{ shelter.nbBedrooms}}</p>
            <p>nombre de couchages{{ shelter.nbBeds}}</p>

            {% if shelter.acceptAnimals == 1 %}
                Animaux acceptés
                <p>Les animaux prix {{ shelter.priceAnimals }}</p>
            {% endif %}
            
            
            <p>Ville {{ shelter.town }}</p>

            {% if interiorEquipments is not empty %}
                <h2>Intérieur</h2>
                {% for interiorEquipment in interiorEquipments %}
                    <p>{{ interiorEquipment.name }}</p>
                    <p>{{ interiorEquipment.description }}</p>
                {% endfor %}
            {% endif %}

            {% if exteriorEquipments is not empty %}
                <h2>Exterieur</h2>
                {% for exteriorEquipment in exteriorEquipments %}
                    <p>{{ exteriorEquipment.name }}</p>
                    <p>{{ exteriorEquipment.description }}</p>
                {% endfor %}
            {% endif %}

            {% if services is not empty %}
                <h2>Services</h2>
                {% for service in services %}
                    <p>{{ service.name }}</p>
                {% endfor %}
            {% endif %}

        </div>
        <div class="giteShow-card-services">
            <ul>
            </ul>
        </div>
        <div class="giteShow-card-calendar">

        </div>
    </div>
    
    <div class="w-2/12 giteShow-contact">
        <div class="fixed w-48 h-52 giteShow-contact-card">
            <div class="giteShow-contact-card-prices">
                <h2>Périodes</h2>
                <p> {{shelter.price.beginning.format('d-m-Y')}} </p>
                <p> {{shelter.price.end.format('d-m-Y')}} </p>
                <p>{{ shelter.price }} / nuit </p>
            </div>
            <div class="giteShow-contact-card-owner">
                <h2>Nom du propriétaire</h2>
                <p>{{ shelter.owner.lastname }} {{shelter.owner.firstname}}</p>
                <h2>Contact</h2>
                <p>{{ shelter.manager.lastname }} {{ shelter.manager.firstname }}</p>
                <p>Horaires de contact</p>
                <a href="mailto:{{shelter.manager.mail}}" class="btn btn-secondary">Contacter</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
