{% extends 'base.html.twig' %}

{% block title %}Progica - Echappez à la routine, louez un gîte de rêve{% endblock %}

{% block body %}
<div class="flex giteShow mt-10">
    
    <div class="w-10/12 mx-3 giteShow-card">
        <h1 class="text-center text-3xl mb-6 giteShow-card-title"> {{ shelter.name }} </h1>
        <div class="container w-4/5 mx-auto py-2 giteShow-card-gallery">
            <img src="{{ shelter.image }}" alt="">
        </div>
        <div class="giteShow-card-desc">
            <p>{{ shelter.surface}} m²</p>
            <p>nombre de chambres{{ shelter.nbBedrooms}}</p>
            <p>nombre de couchages{{ shelter.nbBeds}}</p>
            <p>Les animaux {{ shelter.acceptAnimals }}</p>
            <p>Les animaux prix {{ shelter.priceAnimals }}</p>

            <p>Prix de la nuit {{ shelter.price }}</p>
            {# <p>Prix de la nuit {{ shelter.owner }}</p> #}
            <p>Prix de la nuit {{ shelter.manager }}</p>
            <p>Prix de la nuit {{ shelter.town }}</p>

            {% if interiorEquipmentNames %}
                <h2>Intérieur</h2>
                {% for interiorEquipmentName in interiorEquipmentNames %}
                    <p>{{ interiorEquipmentName }}</p>
                {% endfor %}                
            {% endif %}

        </div>
        <div class="giteShow-card-services">
            <ul>
            </ul>
        </div>
        <div class="giteShow-card-calendar">

        </div>
    </div>
    
    <div class="w-2/12 giteShow-contact">
        <div class="fixed w-48 h-52 giteShow-contact-card">
            <div class="giteShow-contact-card-prices">
                <h2>Périodes</h2>
                <h3>Hiver</h3>
                <p>200€ / nuits</p>
            </div>
            <div class="giteShow-contact-card-owner">
                <h2>Nom du propriétaire</h2>
                <p>Horaires de contact</p>
                <button class="btn btn-secondary">Contacter</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
