{% for field in [formSearch.region, formSearch.department, formSearch.town] %}
    {{ form_row(field, {
        'widget_class': 'rounded-3xl w-auto border-none focus:ring-transparent mr-4 criteria'
    }) }}
{% endfor %}

<div class="hidden relative xl:flex xl:items-center">
    {% if app.request.attributes.get('_route') == 'home' %}
        <div class="hidden absolute top-12 right-4 py-1 px-2 rounded bg-red-400 font-semibold text-red-900 error_date_message">
            <p></i>Veuillez sélectionner une date valide</p>
        </div>        
        <span class='mr-4'>du </span>

        {{ form_row(formSearch.start, {
            widget_class: 'text-txtGray rounded-lg criteria'
        }) }}

        <span class='mx-4'> au </span>
        
        {{ form_row(formSearch.end, {
            widget_class: 'text-txtGray rounded-lg mr-4 criteria'
        }) }}

    {% else %}

        <span class='mr-4 hidden'>du </span>

        {{ form_row(formSearch.start, {
            widget_class: 'text-txtGray rounded-lg criteria hidden'
        }) }}

        <span class='mx-4 hidden'> au </span>
        
        {{ form_row(formSearch.end, {
            widget_class: 'text-txtGray rounded-lg mr-4 criteria hidden'
        }) }}

    {% endif %}                 
</div>